body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 600px;
  background: #fff;
  margin: 12px auto;
  padding: 10px;
  
}

.title {
  background: #e3f4ff;
  padding: 20px;
  margin: 10px;
  
}

.content {
  background: #e3f4ff;
  padding: 20px;
  margin: 10px;
}

.button-container {
  background: #e3f4ff;
  padding: 20px;
  margin: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
}